#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, double_t, int_t, bool_t

gen = ParameterGenerator()

gen.add("enable",           bool_t,   0, "Take over FTC planner speed_fast based on blade load. If false, node only logs (monitor mode).", False)
gen.add("current_nominal",  double_t, 0, "Idle blade current (A, no load)",                               0.4,  0.0,    20.0)
gen.add("current_max_load", double_t, 0, "Blade current (A) at which we clamp to speed_min",              1.6,  0.0,    30.0)
gen.add("rpm_nominal",      double_t, 0, "Unloaded blade RPM. At/above this, RPM contributes no load",    4400.0, 0.0, 20000.0)
gen.add("rpm_max_load",     double_t, 0, "Blade RPM at which we clamp to speed_min (fully bogged)",       2000.0, 0.0, 20000.0)
gen.add("speed_max",        double_t, 0, "Maximum travel speed (m/s, no load)",                           0.4,  0.0,     2.0)
gen.add("speed_min",        double_t, 0, "Minimum travel speed (m/s, heavy load)",                        0.0,  0.0,     2.0)
gen.add("recovery_rate",    double_t, 0, "Speed recovery rate when load drops (m/s per s)",               0.02, 0.0,     1.0)
gen.add("current_window",   int_t,    0, "Moving-average window size for blade current samples",          2,    1,     100)

exit(gen.generate("mower_logic", "blade_speed_adapter", "BladeSpeedAdapter"))
