<!--
    Use this file to test your move_base config. You should be able to move the bot around the map using RVIZ.
-->
<launch>
   <!-- <include file="$(find open_mower)/launch/include/_comms.launch"/> -->
    <include file="$(find open_mower)/launch/include/_move_base.launch"/> 
    <include file="$(find rosmower)/launch/robot_localization.launch"/>
<!--    <include file="$(find open_mower)/launch/include/_record.launch">-->
<!--        <arg name="prefix" value="move_around"/>-->
<!--    </include>-->


    <node pkg="mower_map" type="mower_map_service" name="map_service" output="screen"/>
</launch>
