<!--
Use this file to record a new map. Use a usb gamepad to move the bot. Controls are in the wiki.
-->
<launch>
  <include file="$(find open_mower)/launch/include/_comms.launch"/>
    <include file="$(find open_mower)/launch/include/_localization.launch"/> -->

    <include file="$(find rosmower)/launch/ekf_pose.launch" />

    <remap from="imu/data" to="bno08x/raw" />
    <include file="$(find open_mower)/launch/include/_record.launch">
        <arg name="prefix" value="record_map"/>
    </include>

    <node pkg="mower_map" type="mower_map_service" name="map_service" output="screen" required="true"/>
    <node pkg="mower_area_recorder" type="area_recorder" name="area_recorder" required="true" />

</launch>
