<launch>
    <arg name="path" default="/home/clemens/" />
    <arg name="bagfile" />

    <node pkg="rosbag" type="play" name="player" output="log" args="--clock $(arg path)$(arg bagfile).bag -s0 -r1 /tf:=/tf_null"/>

<!--    <include file="$(find open_mower)/launch/_transforms.launch" />-->
    <include file="$(find open_mower)/launch/include/_localization.launch" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find open_mower)/rviz/playback.rviz" required="true" />



<!--    <node pkg="open_mower_ros" type="area_recorder" name="area_recorder" output="screen">-->
<!--    </node>-->
    <node pkg="mower_map" type="mower_map_service" name="map_service" output="screen" />
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" />

</launch>
