[submodule "src/lib/xesc_ros"]
	path = src/lib/xesc_ros
	url = https://github.com/ClemensElflein/xesc_ros.git
[submodule "src/lib/ftc_local_planner"]
	path = src/lib/ftc_local_planner
	url = https://github.com/ClemensElflein/ftc_local_planner.git
[submodule "src/lib/teb_local_planner"]
	path = src/lib/teb_local_planner
	url = https://github.com/rst-tu-dortmund/teb_local_planner.git
[submodule "src/lib/slic3r_coverage_planner"]
	path = src/lib/slic3r_coverage_planner
	url = https://github.com/ClemensElflein/slic3r_coverage_planner.git
[submodule "src/lib/ublox"]
	path = src/lib/ublox
	url = https://github.com/ClemensElflein/ublox.git
