[submodule "src/lib/ntrip_client"]
	path = src/lib/ntrip_client
	url = https://github.com/xtech/ntrip_client.git
[submodule "src/lib/xbot_driver_gps"]
	path = src/lib/xbot_driver_gps
	url = https://github.com/ClemensElflein/xbot_driver_gps.git
[submodule "src/lib/xbot_framework"]
	path = src/lib/xbot_framework
	url = https://github.com/xtech/xbot_framework.git
[submodule "services"]
	path = services
	url = https://github.com/xtech/definitions-open-mower.git
