<?xml version="1.0"?>

<robot name="vesc_test">
  <link name="base_link"></link>

  <joint name="arm_joint" type="revolute">
    <parent link="base_link"/>
    <child link="arm_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" lower="100" upper="100" velocity="100"/>
  </joint>

  <link name="arm_link"></link>
</robot>
