services:
  ros:
    build:
      context: ..
      dockerfile: devenv/Dockerfile
      args:
        - MY_UID=${MY_UID:-1000}
        - MY_GID=${MY_GID:-1000}
        - MY_USER=${MY_USER:-dev}
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
    # mounts x11, so that we can use GUI apps
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ../:/workspace:rw
    user: "${MY_UID:-1000}:${MY_GID:-1000}"
    network_mode: "host"
