<launch>

    <node pkg="mower_simulation" type="mower_simulation" name="mower_simulation" required="true">
        <remap from="~xb_pose_out" to="xbot_positioning/xb_pose"/>
    </node>

<!--    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure">-->
<!--    </node>-->

</launch>
