<!-- -*- mode: XML -*- -->
<launch>

  <!-- Optionally launch in GDB, for debugging -->
  <arg name="debug" default="false" />
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <!-- VESC to Odom node -->
  <node pkg="vesc_ackermann" type="vesc_to_odom_node" name="vesc_to_odom_node"
        output="screen" launch-prefix="$(arg launch_prefix)" >
  </node>

</launch>
