<!--
    This launch file starts all communication needed in order to control and localize the bot.
    I.e. the raw data comms to the Low Level Board, the GPS, etc.
-->
<launch>
    <!-- TODO: Add parameter for simulation -->

    <node pkg="mower_comms" type="mower_comms" name="mower_comms" output="screen">
        <rosparam unless="$(eval env('OM_MOWER')=='CUSTOM')" file="$(find open_mower)/params/hardware_specific/$(env OM_MOWER)/comms_general_params.yaml"/>
        <rosparam unless="$(eval env('OM_MOWER')=='CUSTOM')" file="$(find open_mower)/params/hardware_specific/$(env OM_MOWER)/comms_$(env OM_MOWER_ESC_TYPE)_params.yaml"/>
        <rosparam if="$(eval env('OM_MOWER')=='CUSTOM')" file="$(env HOME)/mower_params/comms_params.yaml"/>
        <param name="wheel_ticks_per_m" value="$(env OM_WHEEL_TICKS_PER_M)"/>
        <param name="wheel_distance_m" value="$(env OM_WHEEL_DISTANCE_M)"/>
        <param name="dfp_is_5v" value="$(optenv OM_DFP_IS_5V False)"/>
        <param name="language" value="$(optenv OM_LANGUAGE en)"/>
        <param name="volume" value="$(optenv OM_VOLUME -1)"/>
    </node>
    
    <include file="$(find open_mower)/launch/include/_gps.launch" unless="$(optenv OM_NO_GPS False)">

    </include>


</launch>
