
<!--
    This launch file sets up the RTK GPS.
 -->
<launch>

    <include if="$(env OM_USE_NTRIP)" file="$(find open_mower)/launch/include/_ntrip_client.launch" />

    <node pkg="xbot_driver_gps" type="driver_gps_node" name="xbot_driver_gps"
          output="screen"
          clear_params="true"
          respawn="true"
          respawn_delay="5">
        <rosparam if="$(eval env('OM_MOWER')=='CUSTOM')" file="$(env HOME)/mower_params/gps_params.yaml"/>
        <rosparam unless="$(eval env('OM_MOWER')=='CUSTOM')" file="$(find open_mower)/params/hardware_specific/$(env OM_MOWER)/comms_gps_params.yaml"/>
        <param if="$(eval optenv('OM_GPS_BAUDRATE')!='')" name="baudrate" value="$(optenv OM_GPS_BAUDRATE)"/>
        <param if="$(eval optenv('OM_GPS_PORT')!='')" name="serial_port" value="$(optenv OM_GPS_PORT)"/>
        <param name="mode" value="absolute" unless="$(env OM_USE_RELATIVE_POSITION)"/>
        <param name="mode" value="relative" if="$(env OM_USE_RELATIVE_POSITION)"/>
        <param name="ubx_mode" value="$(eval optenv('OM_GPS_PROTOCOL','UBX')=='UBX')"/>
        <param unless="$(env OM_USE_RELATIVE_POSITION)" name="datum_lat" value="$(env OM_DATUM_LAT)"/>
        <param unless="$(env OM_USE_RELATIVE_POSITION)" name="datum_long" value="$(env OM_DATUM_LONG)"/>
        <param unless="$(env OM_USE_RELATIVE_POSITION)" name="datum_height" value="0"/>
        <remap from="/rtcm" to="/ntrip_client/rtcm"/>
        <remap from="~wheel_ticks" to="/mower/wheel_ticks"/>
    </node>

</launch>
