
<!--
    This launch file sets up the RTK GPS.
 -->
<launch>
    
    <include if="$(env OM_USE_NTRIP)" file="$(find open_mower)/launch/include/_ntrip_client.launch" />

    <node pkg="ublox_gps" type="ublox_gps" name="ublox"
          output="screen"
          clear_params="true"
          respawn="true"
          respawn_delay="5">
        <rosparam command="load"
                  file="$(find open_mower)/params/gps.yaml" />
        <param name="device" value="/dev/$(env OM_GPS_SERIAL_PORT)" />
    </node>
</launch>
