<launch>
    <node pkg="xbot_positioning" type="xbot_positioning" name="xbot_positioning" output="screen" respawn="true" respawn_delay="10">
        <remap from="~imu_in" to="/ll/imu/data_raw"/>
        <remap from="~twist_in" to="/ll/diff_drive/measured_twist"/>
        <remap from="~xb_pose_in" to="/ll/position/gps"/>
        <remap from="~xb_pose_out" to="xbot_positioning/xb_pose"/>
    </node>
</launch>
