<!--
    Include this file to use these utilities to record all low level comms, so you can playback later on for debugging
 -->
<launch>
    <arg name="prefix" default="record"/>

    <node if="$(optenv OM_ENABLE_RECORDING False)" pkg="rosbag" type="record" name="rosbag_record_diag"
          args="record -o /$(env HOME)/$(arg prefix)
/clock
/time_reference
/tf
/tf_static
/joy
/cmd_vel
/mower/status
/mower/imu
/imu/data_raw
/imu/mag
/ublox/navrelposned
/ublox/fix " />

    <node if="$(optenv OM_ENABLE_RECORDING_ALL False)" pkg="rosbag" type="record" name="rosbag_record_diag_alle"
          args="record -o /$(env HOME)/all_$(arg prefix) -a" />

    <arg name="snapshot_duration" value="$(optenv OM_SNAPSHOT_DURATION 1200)" />
    <arg name="snapshot_memory" value="$(optenv OM_SNAPSHOT_MEMORY_PER_TOPIC 0.0)" />

    <node if="$(eval arg('snapshot_duration') > 0 and arg('snapshot_memory') > 0)" name="snapshot" pkg="rosbag_snapshot" type="snapshot" args="">
        <param name="default_duration_limit" value="$(arg snapshot_duration)" />  <!-- Maximum time difference between newest and oldest message, seconds, overrides -d flag -->
        <param name="default_memory_limit" value="$(arg snapshot_memory)" />  <!-- Maximum memory used by messages in each topic's buffer, MB, override -s flag -->
        <param name="clear_buffer" value="false" />  <!-- No option / true will clear the buffer after writing to bag. False will not clear buffer -->
        <param name="compression" value="LZ4" />  <!-- LZ4, BZ2, uncompressed -->
        <param name="record_all_topics" value="true" />
    </node>
</launch>
