<!--
    Include this file to record all low level comms, so you can playback later on for debugging
 -->
<launch>
    <arg name="prefix" default="record"/>

    <node if="$(optenv OM_ENABLE_RECORDING False)" pkg="rosbag" type="record" name="rosbag_record_diag"
          args="record -o /$(env HOME)/$(arg prefix)
/clock
/time_reference
/tf
/tf_static
/joy
/cmd_vel
/mower/status
/mower/imu
/imu/data_raw
/imu/mag
/ublox/navrelposned
/ublox/fix " />

    <node if="$(optenv OM_ENABLE_RECORDING_ALL False)" pkg="rosbag" type="record" name="rosbag_record_diag_alle"
          args="record -o /$(env HOME)/all_$(arg prefix) -a" />

</launch>
