<launch>
    <node pkg="mower_comms" type="mower_comms" name="mower_comms">
        <rosparam unless="$(eval env('OM_MOWER')=='CUSTOM')" file="$(find open_mower)/params/hardware_specific/$(env OM_MOWER)/comms_general_params.yaml"/>
        <rosparam unless="$(eval env('OM_MOWER')=='CUSTOM')" file="$(find open_mower)/params/hardware_specific/$(env OM_MOWER)/comms_$(env OM_MOWER_ESC_TYPE)_params.yaml"/>
        <rosparam if="$(eval env('OM_MOWER')=='CUSTOM')" file="$(env HOME)/mower_params/comms_params.yaml"/>
    </node>

    <node name="joy" pkg="joy" type="joy_node" required="true">
        <param name="~autorepeat_rate" value="10.0"/>
        <param name="~coalesce_interval" value="0.06"/>
    </node>

    <node name="joy_teleop" pkg="teleop_twist_joy" type="teleop_node" required="true">
        <remap from="cmd_vel" to="joy_vel"/>
        <param name="~scale_linear" value="0.5"/>
        <param name="~scale_angular" value="1.5"/>
        <param name="~scale_linear_turbo" value="1.0"/>
        <param name="~scale_angular_turbo" value="3.0"/>
        <param name="~enable_turbo_button" value="4"/>
    </node>
</launch>
