<launch>
    <include file="$(find open_mower)/launch/include/_comms.launch"/>
    <include file="$(find open_mower)/launch/include/_move_base.launch"/>
    <include file="$(find open_mower)/launch/include/_localization.launch"/>
    <include file="$(find open_mower)/launch/include/_teleop.launch"/>
    <include file="$(find open_mower)/launch/include/_record.launch">
        <arg name="prefix" value="mow_area"/>
    </include>

    <node pkg="mower_map" type="mower_map_service" name="map_service" output="screen"/>
    <node pkg="mower_logic" type="mower_logic" name="mower_logic" output="screen">
        <param name="automatic_start" value="$(env OM_AUTOMATIC_START)"/>
        <param name="docking_distance" value="$(env OM_DOCKING_DISTANCE)"/>
        <param name="undock_distance" value="$(env OM_UNDOCK_DISTANCE)"/>
        <param name="tool_width" value="$(env OM_TOOL_WIDTH)"/>
        <param name="enable_mower" value="$(env OM_ENABLE_MOWER)"/>
        <param name="battery_empty_voltage" value="$(env OM_BATTERY_EMPTY_VOLTAGE)"/>
        <param name="outline_count" value="$(env OM_OUTLINE_COUNT)"/>
        <param name="outline_offset" value="$(env OM_OUTLINE_OFFSET)"/>
        <param name="battery_full_voltage" value="$(env OM_BATTERY_FULL_VOLTAGE)"/>
    </node>
    <node pkg="slic3r_coverage_planner" type="slic3r_coverage_planner" name="slic3r_coverage_planner" output="screen"/>

    <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
        <remap from="cmd_vel_out" to="/cmd_vel"/>

        <rosparam file="$(find open_mower)/params/twist_mux_topics.yaml"  command="load"/>
    </node>

    <node pkg="xbot_monitoring" type="xbot_monitoring" name="xbot_monitoring" output="screen" respawn="true" respawn_delay="10">
        <remap from="/xbot_monitoring/remote_cmd_vel" to="/joy_vel"/>
    </node>
    <node pkg="xbot_remote" type="xbot_remote" name="xbot_remote" output="screen" respawn="true" respawn_delay="10">
        <remap from="/xbot_remote/cmd_vel" to="/joy_vel"/>
    </node>

    <node pkg="mower_logic" type="monitoring" name="monitoring" output="screen" respawn="true" respawn_delay="10"/>
</launch>
