<launch>
    <include file="$(find open_mower)/launch/include/_params.launch"/>
    <group if="$(eval optenv('OM_MOWER_GAMEPAD' 'xbox360') == 'xbox360')">
        <node name="remote_joy" pkg="joy" type="joy_node" required="true">
            <param name="~autorepeat_rate" value="10.0"/>
            <param name="~coalesce_interval" value="0.06"/>
        </node>

    </group>

    <group unless="$(eval optenv('OM_MOWER_GAMEPAD' 'xbox360') == 'xbox360')">
        <node name="remote_joy" pkg="joy" type="joy_node" required="true">
            <remap from="/joy" to="/teleop_joy"/>
            <param name="~coalesce_interval" value="0.06"/>
        </node>

        <rosparam file="$(find open_mower)/params/gamepads/$(optenv OM_MOWER_GAMEPAD xbox360).yaml" command="load"/>

    </group>
</launch>
