<!--

    Use this file to record new mowing and navigation areas in the simulator.
 -->
<launch>
    <include file="$(find mower_simulation)/launch/_mower_simulation.launch" />
    <include file="$(find open_mower)/launch/include/_move_base.launch" />
    <include file="$(find open_mower)/launch/include/_teleop.launch"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find open_mower)/rviz/sim_mower_logic.rviz" required="true" />
    <node pkg="mower_map" type="mower_map_service" name="mower_map" required="true" />
    <node pkg="slic3r_coverage_planner" type="slic3r_coverage_planner" name="slic3r_coverage_planner" output="screen" required="true" />
    <node pkg="mower_logic" type="mower_logic" name="mower_logic" output="log" required="false">
        <param name="ignore_gps_errors" value="true"/>
        <param name="gps_wait_time" value="0"/>
        <param name="automatic_mode" value="$(optenv OM_AUTOMATIC_MODE 0)"/>
        <param name="docking_distance" value="$(env OM_DOCKING_DISTANCE)"/>
        <param name="undock_distance" value="$(env OM_UNDOCK_DISTANCE)"/>
        <param name="tool_width" value="$(env OM_TOOL_WIDTH)"/>
        <param name="enable_mower" value="$(env OM_ENABLE_MOWER)"/>
        <param name="battery_empty_voltage" value="$(env OM_BATTERY_EMPTY_VOLTAGE)"/>
        <param name="outline_count" value="$(env OM_OUTLINE_COUNT)"/>
        <param name="outline_overlap_count" value="$(optenv OM_OUTLINE_OVERLAP_COUNT 0)"/>
        <param name="outline_offset" value="$(env OM_OUTLINE_OFFSET)"/>
        <param name="mow_angle_offset" value="$(optenv OM_MOWING_ANGLE_OFFSET 0)"/>
        <param name="mow_angle_offset_is_absolute" value="$(optenv OM_MOWING_ANGLE_OFFSET_IS_ABSOLUTE False)"/>
        <param name="mow_angle_increment" value="$(optenv OM_MOWING_ANGLE_INCREMENT 0)"/>
        <param name="battery_full_voltage" value="$(env OM_BATTERY_FULL_VOLTAGE)"/>
        <param name="motor_hot_temperature" value="$(env OM_MOWING_MOTOR_TEMP_HIGH)"/>
        <param name="motor_cold_temperature" value="$(env OM_MOWING_MOTOR_TEMP_LOW)"/>
    </node>
    
    <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
        <remap from="cmd_vel_out" to="/cmd_vel"/>
        <rosparam file="$(find open_mower)/params/twist_mux_topics.yaml" command="load"/>
    </node>


    <node pkg="xbot_monitoring" type="xbot_monitoring" name="xbot_monitoring" output="screen" respawn="false">
        <param name="external_mqtt_enable" value="$(optenv OM_MQTT_ENABLE False)" />
        <param name="external_mqtt_hostname" value="$(optenv OM_MQTT_HOSTNAME)" />
        <param name="external_mqtt_port" value="$(optenv OM_MQTT_PORT)" />
        <param name="external_mqtt_username" value="$(optenv OM_MQTT_USER)" />
        <param name="external_mqtt_password" value="$(optenv OM_MQTT_PASSWORD)" />
        <param name="external_mqtt_topic_prefix" value="$(optenv OM_MQTT_TOPIC_PREFIX)" />
        <remap from="/xbot_monitoring/remote_cmd_vel" to="/joy_vel"/>
    </node>

    <node pkg="xbot_remote" type="xbot_remote" name="xbot_remote" output="screen" respawn="true" respawn_delay="10">
        <remap from="/xbot_remote/cmd_vel" to="/joy_vel"/>
    </node>

    <node pkg="mower_logic" type="monitoring" name="monitoring" output="log" respawn="true" respawn_delay="10"/>

    <node pkg="xbot_monitoring" type="heatmap_generator" name="heatmap_generator" output="screen" respawn="true" respawn_delay="10" unless="$(eval optenv('OM_HEATMAP_SENSOR_IDS', 'UNSET') == 'UNSET')">
        <param name="sensor_ids" value="$(optenv OM_HEATMAP_SENSOR_IDS)" />
    </node>

</launch>
