<!--
    Use this file to record new mowing and navigation areas in the simulator.
 -->
<launch>
    <include file="$(find open_mower)/launch/include/_params.launch"/>
    <include file="$(find mower_simulation)/launch/_mower_simulation.launch"/>
    <include file="$(find open_mower)/launch/include/_move_base.launch"/>
    <include file="$(find open_mower)/launch/include/_teleop.launch"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find open_mower)/rviz/sim_navigation_test.rviz"
          required="true"/>
    <node pkg="mower_map" type="mower_map_service" name="mower_map" required="true"/>

    <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
        <remap from="cmd_vel_out" to="/cmd_vel"/>

        <rosparam file="$(find open_mower)/params/twist_mux_topics.yaml" command="load"/>
    </node>
</launch>
