<!--
    Use this file to record new mowing and navigation areas in the simulator.
 -->
<launch>
    <include file="$(find open_mower)/launch/include/_rosbridge.launch" />
    <include file="$(find mower_simulation)/launch/_mower_simulation.launch" />
    <include file="$(find open_mower)/launch/include/_move_base.launch" />


    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find open_mower)/rviz/sim_mower_logic.rviz" required="true" />
    <node pkg="mower_map" type="mower_map_service" name="mower_map" required="true" />
    <node pkg="slic3r_coverage_planner" type="slic3r_coverage_planner" name="slic3r_coverage_planner" output="screen" required="true" />
    <node pkg="mower_logic" type="mower_logic" name="mower_logic" output="screen" required="true">
        <param name="ignore_gps_errors" value="true"/>
        <param name="outline_count" value="5"/>
        <param name="gps_wait_time" value="0"/>
        <param name="undock_distance" value="0.1"/>
    </node>

    <node name="joy" pkg="joy" type="joy_node" required="true" >
        <param name="~autorepeat_rate" value="10.0"/>
        <param name="~coalesce_interval" value="0.06"/>
    </node>

    <node name="joy_teleop" pkg="teleop_twist_joy" type="teleop_node" required="true" >
        <remap from="cmd_vel" to="joy_vel"/>
        <param name="~scale_linear" value="0.5"/>
        <param name="~scale_angular" value="0.5"/>
        <param name="~scale_linear_turbo" value="1.0"/>
        <param name="~scale_angular_turbo" value="1.0"/>
        <param name="~enable_turbo_button" value="4"/>
    </node>

    <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
        <remap from="cmd_vel_out" to="/cmd_vel"/>

        <rosparam file="$(find open_mower)/params/twist_mux_topics.yaml"  command="load"/>
    </node>
</launch>