<launch>
    <arg name="bagfile" />
    <arg name="s" default="0" />
    <arg name="r" default="1" />
    <arg name="rqt_reconfigure" default="False" />

    <node pkg="rosbag" type="play" name="player" output="log" args="--clock $(arg bagfile) -s$(arg s) -r$(arg r) /tf:=/tf_null /xbot_positioning/odom_out:=/null/xbot_positioning/odom_out"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find open_mower)/rviz/playback.rviz" required="true" />

    <node name="converter1" pkg="mower_utils" type="xbot_pose_converter" required="true">
        <param name="topic" value="/ll/position/gps"/>
        <param name="frame" value="map"/>
    </node>
    <node name="converter2" pkg="mower_utils" type="xbot_pose_converter" required="true">
        <param name="topic" value="/xbot_positioning/xb_pose"/>
        <param name="frame" value="map"/>
    </node>

    <node pkg="xbot_monitoring" type="xbot_monitoring" name="xbot_monitoring" output="screen" required="true">
    </node>
    <node pkg="mower_map" type="mower_map_service" name="map_service" output="screen"/>
    <node pkg="mower_logic" type="monitoring" name="monitoring" output="screen"/>



        <node pkg="xbot_positioning" type="xbot_positioning" name="xbot_positioning_playback" output="screen" required="true">
            <remap from="~imu_in" to="/ll/imu/data_raw" />
            <remap from="~twist_in" to="/ll/diff_drive/measured_twist" />
            <remap from="~xb_pose_in" to="/ll/position/gps" />
            <remap from="~xb_pose_out" to="playback_pose" />
            <param name="max_gps_accuracy" value="0.2"/>
            <param name="max_gps_accuracy" value="0.2"/>
            <param name="skip_gyro_calibration" value="true"/>
            <param name="gyro_offset" value="0.01" />
                        <param name="antenna_offset_x" value="$(env OM_ANTENNA_OFFSET_X)"/>
                        <param name="antenna_offset_y" value="$(env OM_ANTENNA_OFFSET_Y)"/>
        </node>

    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" if="$(arg rqt_reconfigure)"/>

</launch>
