<!--
    This launch file starts all communication needed in order to control and localize the bot.
    I.e. the raw data comms to the Low Level Board, the GPS, etc.
-->
<launch>
    <!-- TODO: Add parameter for simulation -->

    
    <include file="$(find open_mower)/launch/include/_gps.launch">
        <arg name="serial_port" value="ttyACM0"/>
        <arg name="ntrip_ip" value="192.168.178.37"/>
        <arg name="ntrip_port" value="2101"/>
        <arg name="ntrip_endpoint" value="Pelm01"/>
        <arg name="ntrip_user" value="rtk"/>
        <arg name="ntrip_password" value="rtk_base"/>
    </include>


</launch>
