<launch>

    <node pkg="mower_logic" type="mower_odometry" name="mower_odometry" output="screen" required="true">
        <param name="imu_offset" value="-90.0"/>
        <param name="gps_antenna_offset" value="0.3"/>

        <param name="gps_filter_factor" value="0.3"/>
        <param name="magnetic_filter_factor" value="0.01"/>
        <param name="magnetic_offset_x" value="90.1726"/>
        <param name="magnetic_offset_y" value="119.861"/>
    </node>

</launch>
