<launch>

    <node pkg="mower_logic" type="mower_odometry" name="mower_odometry" output="screen" required="true">
        <param name="imu_offset" value="$(env OM_IMU_OFFSET)"/>
        <param name="gps_antenna_offset" value="$(env OM_GPS_ANTENNA_OFFSET)"/>
    </node>

    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node" required="true">
        <rosparam file="$(env HOME)/mower_conf/imu_filter.yaml" command="load" />
        <param name="publish_tf" value="false"/>
        <param name="mag_bias_x" value="$(env OM_MAG_BIAS_X)"/>
        <param name="mag_bias_y" value="$(env OM_MAG_BIAS_Y)" />
        <param name="mag_bias_z" value="$(env OM_MAG_BIAS_Z)" />
        <param name="orientation_stddev" value="0.0"/>
        <param name="zeta" value="0.0" />
        <param name="gain" value="$(env OM_IMU_FILTER_GAIN)" />
    </node>
    
</launch>
